@model MovieList
@using Microsoft.AspNetCore.Http;

@section LogReg{
    <link rel="stylesheet" href="~/css/LogReg.css">
    <link rel="stylesheet" href="~/css/Library.css">
}

<header>
    <div class="wrapper libraryHead">
        <div class="title">
             <a asp-action="Index" asp-controller="Home">
                <h1 class="second-font logo">MovieQuest</h1>
            </a>
        </div>
        <div class="links">
            <ul>
                @if(Context.Session.GetInt32("UserId")==null)
                {
                    <li>
                        <a href="">About</a>
                    </li>
                    <li>
                        <a asp-action="LogPage" asp-controller="Home">Login</a>
                    </li>
                    <li>
                        <a asp-action="RegPage" asp-controller="Home" class="reg">Register</a>
                    </li>
                }else
                {
                    <li>
                        <a href="">About</a>
                    </li>
                    <li>
                        <a asp-action="Logout" asp-controller="Home">Logout</a>
                    </li>
                    <li>
                        <p class="white">@Context.Session.GetString("Email")</p>
                    </li>
                }
            </ul>
        </div>
    </div>
</header>

<div class="wrapper">
    <a id="addMovie">Add a movie</a>

    <div id="modal">
        <div id="modal-content">
            <span id="closeBtn">&times;</span>
            <partial name="NewMovie"/>
        </div>
    </div>
</div>

<div class="wrapper libBody">

    <div id="col1" class="libCol">
        <div id="movieInfo" class="wrapper">
            
            <div class="movie">
                <div id="poster">
                    <img id="moviePoster" src="" class="pic">
                </div>

                <div id="details">
                    <h4>Movie name:</h4>
                    <p id="movieName"></p>
                    <h4>Genre:</h4>
                    <p id="genre"></p>
                    <h4>Director:</h4>
                    <p id="director"></p>
                    <h4>Release date:</h4>
                    <p id="date"></p>
                    <h4>Description:</h4>
                    <p id="desc"></p>
                </div>
            </div>

            <div class="reviews"></div>  
            
        </div>
    </div>

    <div id="col2" class="libCol">
        <div class="wrapper movies">

            <table>
                <tr id="firstRow">
                    <th id="test">Movie</th>
                    <th>Genre</th>
                    <th>Release Date</th>
                </tr>
                @foreach(var movie in Model.MovieLibrary)
                {
                <tr>
                    <td>
                        @*<a id="infoBtn" class="movie-name" asp-action="MovieDetails" asp-route-MovieId="@movie.MovieId">@movie.MovieName</a>*@
                        
                        <button id="infoBtn" class="movie-name" onclick="test(@movie.MovieId)">@movie.MovieName</button>
                        <input type="hidden" class="mid">
                    </td>
                    <td>@movie.Genre</td>
                    <td>@movie.ReleaseDate.ToString("MM/dd/yyyy")</td>
                </tr>
                }
            </table>
        </div>

    </div>
</div>